* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#brandimg {
  width: 80px;
  height: 50px;
}

:root {
  --bs-body-font-family: "Bebas Neue", sans-serif;
}

.navbar {
  position: relative;
  bottom: 600px;
}

.cardscon {
  justify-content: center;
  margin-bottom: 300px;
}

#gyf {
  color: #6f5e4d;
  font-family: "Roboto Condensed";
  font-weight: 350;
}

#chf {
  color: #6f5e4d;
  font-family: "Roboto Condensed";
  line-height: 0.8;
  font-size: 2.3rem;
}
#cardcontent {
  padding: 33px;
}

#card1btn {
  background-color: #e3000e;
  width: 10rem;
}
#img2 {
  height: 17rem;
  object-fit: cover;
}

#img1 {
  height: 17rem;
  object-fit: cover;
}

#card2 {
  height: 17rem;
  width: 40rem;
}

#card1 {
  height: 17rem;
  width: 28rem;
}


@media (max-width: 576px) {
  #chf {
    font-size: 1.5rem; /* Font size for mobile */
  }

  #card1btn {
    background-color: #e3000e;
    width: 9rem;
  }



}

